.container_reset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    text-align: center; /* Opcional, para centrar el texto */
  }
  

.title_resetaccount h1{
    font-size: 30px;
    color:  #500075;
    padding-bottom: 1em;
}
  
  .btnContainer {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 1em;
  }

  .input {
    width: 50%;
  }

  @media (max-width: 768px) {
    .input {
      width: 90%;
    }
  }
  