.confirm_send_email {
    background-color: white;
    max-width: 90%;
    width: 800px;
    margin: auto;
    border-radius: 10px;
    margin-top: 10em;
}

.btn {
    background-color: #500075;
}

.btn:hover {
    background-color: #8903c6;

}


@media screen and (max-width: 768px) {
    .confirm_send_email {
        background-color: white;
        max-width: 90%;
        width: 800px;
        margin: auto;
        border-radius: 10px;
        margin-top: 1em;
    }
     
}