.cards_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.text {
  font-weight: bold;
  font-size: 20px;
  padding-left: 2em;
  text-align: center;
}
@media (max-width: 768px) {
  .cards_container {
    padding-top: 5em;
  }
}
