.cards_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  padding-top: 2em;
  padding-bottom: 10em;
  
}

.text {
  font-weight: bold;
  font-size: 20px;
  padding-left: 2em;
  text-align: center;
}
.decoretion_text {
  text-decoration: none;

}

.logo_card {
  width: 50px;
  position: absolute;
}

.logo_title {
display: flex;
}

.title_subtitle {
 text-align: center;
}
@media (max-width: 768px) {
  .cards_container {
    padding-top: 5em;
  }
}
