.policy_container {
  padding: 10vh;
  background-color: #8080801e;
  margin: 0 auto;

  }
  
  h2, h3 {
    color: #333;
  }
  
  p {
    margin-top: 10px;
    color: #555;
  }
  
  ul {
    margin-top: 10px;
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 5px;
  }

  @media (max-width: 768px) {
    .policy_container {
      padding: 20px;
      margin: 0 auto;
    
      }
  }
  