.food_container {
    margin-top: 2em;
    margin-bottom: 2em;
}

.food_box {
    display: grid;
    gap: 1em;
    width: 90%;
    margin: auto;
    justify-content: center;

}

.contact {
    display: flex;
    gap: 1em;
}

.text_container {
    font-weight: bold;
    font-size: 25px;
}
.text_box {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1em;
}

.description {
    padding-left: 4em;
    padding-right: 4em;
}

.select_container {
    display: flex;
    width: 90%;
    margin: auto;
    gap: 1em;
    margin-bottom: 2em;
}
.btn_login {
    color: #ffffff !important;
    background-color: #500075 !important;
    border: 2px solid #500075;
    border-radius: 0;
    -webkit-box-shadow: 3px 3px #a994ba;
    box-shadow: 3px 3px #a994ba;
    padding: 0.5em;
    width: 10em;
    text-align: center;
}

.btn_container {
   display: flex;
   justify-content: center;

}

@media (max-width: 768px) {
    .text_container {
        font-size: 20px;
    }
    .text_box {
        font-size: 15px;

    }

    .select_container {
        display: grid;
       
    }


    .food_box {
        display: grid;
        flex-wrap: wrap;
        gap: 1em;
        width: 90%;
        margin: auto;
        justify-content: center;
    
    }
    
    .contact {
        display: grid;
        gap: 1em;
    }
    .description {
        padding-left: 1em;
        padding-right: 1em;
    }
    
}