.carsfood_container {
    margin-bottom: 2em;
    max-width: 100%;
   margin-top: 10em;
   position: relative;

  }
  
  .menufood_container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: auto;
    width: 50%;
    max-width: 100%;
    padding-bottom: 2em;
    justify-content: center;
  }
  .text {
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 0.2em;
    text-align: center;
    color: #500075;
  }
  .textarea {
    outline: none;
    border: 1px solid #500075;
    padding: 0.5em;
    width: 950px;
    border-radius: 5px;
    max-width: 100%;
  }
  .label_textarea {
    display: grid;
    width: 100%;
    justify-content: center;
  
  }
  .menufood_box {
    display: flex;
    border: 1px solid #500075;
    height: 152px;
  }
  
  .btn_quantity {
    display: flex;
  }
  
  .modal_img {
    z-index: 9000;
    height: 50vh;
  }
  .btn_container {
    display: flex;
    justify-content: center;

  }
  .form_container {
    margin: auto;
    background-color: #500075;
    max-width: 100%;
    width: 50%;
    padding: 1em;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    gap: 1em;
    padding: 2em;
    color: white;
    border-radius: 5px;
  }
  
  
  .select_container {
    display: flex;
    gap: 1em;
    margin-bottom: 2em;
  }
  .btn_login {
    color: #ffffff !important;
    background-color: #500075 !important;
    border: 2px solid #500075;
    border-radius: 0;
    -webkit-box-shadow: 3px 3px #a994ba;
    box-shadow: 3px 3px #a994ba;
    padding: 0.5em;
    width: 10em;
    text-align: center;
  }
  .total {
    text-align: center;
  font-size: 25px;

  }

  .card_media{
    max-width: 100% !important;
    width: 50% !important;
    height: 150px !important;
    object-fit: cover !important;
    padding: 0.5em !important;
  }

  .quantity_price {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    width: 100%;

  }
  @media (max-width: 768px) {
    .carsfood_container {
      margin-top: 1em;
    }
    .menufood_container {
      display: flex;
      flex-direction: column;
      gap: 2em;
      margin: auto;
      width: 90%;
      max-width: 100%;
      padding-bottom: 2em;
      justify-content: center;
      
    }
    .form_container {
      display: flex;
      flex-direction: column;
      width: 90%;
      max-width: 100%;
      text-align: center;
   
    }
    .text {
      font-weight: bold;
      font-size: 30px;
      padding-bottom: 0.2em;
      text-align: center;
      color: #500075;
    }
    .card_media{
      max-width: 100% !important;
      width: 150px !important;
      height: auto !important;
      object-fit: cover !important;
      padding: 0.5em !important;
    }
    .name_product {
      font-size: 16px !important;
    }

    .textarea {
      outline: none;
      border: 1px solid #500075;
      width: 345px;
    }
  
  }

  @media only screen and (min-width: 1024px) and (max-width: 1440px) {
    .textarea {
      outline: none;
      border: 1px solid #500075;
      width: 650px;
    }
    .card_media{
      max-width: 100% !important;
      width: 100% !important;
      height: 150px !important;
      object-fit: cover !important;
      padding: 0.5em !important;
    }
  }
  