.perfil_container {
  margin: 10em auto;
  }
.input_container {
  display: grid;
  gap: 2em;
  justify-content: center;
}
.input {
  width: 100%;
}
.title_perfil h1{
  text-align: center;
  color: #500075;
  font-size: 30px;
}

.btn_container {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}

.updatePassword {
  display: flex;
  gap: 1em;
}

.btnContainer {
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-top: 1em;
}
  @media (max-width: 768px) {
    .perfil_container {
      padding: 20px;
        margin: 0 auto;
    
      }
      
  }