/* Estilos generales del formulario */
.formContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 1px solid #ddd;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .subtitle {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
  }
  .header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  
  .backLink {
    color: #333;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;

  }
  .label {
    font-size: 12px;
    color: #555;
  }
  
  .sectionTitle {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .inputGroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .inputField {
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .inputFull {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  .checkboxContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .radioGroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .radioGroup label {
    margin-left: 10px;
  }
  
  .textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  .submitButton {
    width: 100%;
    padding: 12px;
    background-color: #500075 ;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .warningText {
    color: #f00;
    margin-bottom: 10px;
  }
  