.HeaderMobile {
    display: none;
}

@media (max-width: 768px) {
    .HeaderMobile {
        display: grid;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
    }

    .logo {
       width: 150px;
       margin: auto;
    }
}