
.OrderProducts_container {
    background-color: white;
}
.order {
  height: 3.5em;
  border: 1px solid #cecece;
  outline: none;
}
.InputContainer {
    display: grid;
    justify-content: center;
    gap: 2em;
 
}
.postInput {
    display: grid;
}
.GridInputs {
  display: flex;
  gap: 4em;

}
.boletin_container {
    margin: 20px;
    overflow: scroll;
    max-height: 60vh;
    margin-top: 5em;

  }
  .boletin_container_pdf{
    margin: 20px;

  }
  
  .boletin_table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .boletin_table th, .boletin_table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .boletin_table th {
    background-color: #500075;
    color: white;
  }
  
  .boletin_table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .boletin_table tbody tr:hover {
    background-color: #e6e6e6;
  }
  .decoration_Link {
    text-decoration: none;
    color: black;
  }

  .search {
    width: 100%;
    border: "1px solid #500075";
    border-radius: 2em;
    padding-left: 1em;
    outline: none;
  }

/* OrderProducts.module.css */
.selectAtendido {
  background-color: green;
  color: white;
}

.selectPendiente {
  background-color: yellow;
  color: black;
}

.search_container {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
.order_for_container  {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5em;
}
.order_for_container h4 {
  color: #500075;
  font-weight: bold;
}

.calendar {
  display: flex;
  gap: 1em;
  justify-content: center;
}

@media only screen and  (max-width: 768px) {
.order_for_container  {
    width: 90%;
    margin: auto;
    gap: 2em;
}
}