.login_container {
    margin-top: 10em;
    position: relative;
}

.input_container {
    margin: auto;
}
.btn_success {
    color: #ffffff !important;
    background-color: #500075 !important;
    border: 2px solid #500075;
    border-radius: 0;

}

.text {
    color: #500075
}

.logo_login {
    width: 150px;
    margin: auto;
}


@media (max-width: 768px) {
    .login_container {
        margin-top: 1em;
    }
  
}