#navbar {
    background: transparent;
    color: blueviolet;
    box-shadow: 0px 0px 0px;
    position: relative;
    
}

.navbar_container {
    position: fixed;
    width: 100%;
    z-index: 9;
    background-color: white;
    top: 0;
}
.logo {
    width: 120px;
}
.css-hyum1k-MuiToolbar-root {
    padding-right: 0;
}
.box_navbar {
    display: flex;
    justify-content: center;
    gap: 5em;
}

.logo_mobile {
    width: 50%;
    margin: auto;
}
.avatar {
        width: 60px !important;
        height: 60px !important;
}
.btn_login {
    color: black !important;
    background-color: white !important;
    border: 2px solid #500075;
}
.search {
    width: 100%;
    border: "1px solid #500075";
    border-radius: 2em;
    padding-left: 1em;
    outline: none;
}

.bg_navbar_details {
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
    place-items: center;
    height: 100px; /* Ajusta según tus necesidades */
    width: 60%;
   background-position: center;
   background-size: cover;
   
}
.bg_navbar {
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
    place-items: center;
    height: 100px; /* Ajusta según tus necesidades */
    width: 60%;
    background-image: url("../../Images/background\ user.png");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   
}


.toolbar {
    display: flex;
}
.nonemobile {
    display: flex;
    place-items: center;
}
.paper {
    width: 40%;
    max-width: 100%;
    position: fixed;
    top: 5em;
    text-align: center;
    max-height: 400px;
    overflow-y: auto;
    z-index: 2;
    background-color: white;
    box-shadow: 0px 4px 6px rgb(0, 0, 0,0.1) ;
}
@media (max-width: 768px) {
    .navbar_container {
        position: relative;
     
    }
    .avatar {
        display: none !important;
    }

    .nonemobile {
        display: none;
    }

    .bg_navbar {
        display: none;
    }

    .toolbar {
        padding: 0.5em;
    }
    .paper {
        width: 100%;
        max-width: 100%;
        position: absolute;
        top: 3em;
        text-align: center;
        max-height: 400px;
        overflow-y: auto;
        z-index: 2000;
        background-color: white;
        box-shadow: 0px 4px 6px rgb(0, 0, 0,0.1) ;
    }

}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .bg_navbar {
        display: flex;
        justify-content: flex-end;
        padding-right: 1em;
        place-items: center;
        height: 100px; /* Ajusta según tus necesidades */
        width: 60%;
        background-image: url("../../Images/background\ user.png");
       background-position: center;
       background-size: contain;
       background-repeat: no-repeat;
       
    }
  }
  
  

