#navbar {
    background: transparent;
    color: blueviolet;
    box-shadow: 0px 0px 0px;
    position: relative;
    
}
.logo {
    width: 200px;
}

.box_navbar {
    display: flex;
    justify-content: center;
    gap: 5em;
}

.logo_mobile {
    width: 50%;
    margin: auto;
}
.avatar {
        width: 60px !important;
        height: 60px !important;
}
.btn_login {
    color: #ffffff !important;
    background-color: #500075 !important;
    border: 2px solid #500075;
    border-radius: 0;
    -webkit-box-shadow: 3px 3px #a994ba;
    box-shadow: 3px 3px #a994ba;
    padding: 0.5em;
    width: 10em;
    text-align: center ;
}
.search {
    width: 100%;
    border: "1px solid #500075";
    outline: none;
    border-radius: 10px;
    height: 2.5em;
    padding-left: 3em;
}




@media (max-width: 768px) {
    .avatar {
        display: none !important;
    }
}
  

