.login_container {
 
}
.logo {
    width: 150px;
    margin: auto;
}
.input_container {
    margin: auto;
}
.btn_success {
    color: #ffffff !important;
    background-color: #c501e2 !important;
    border: 2px solid #c501e2;
    border-radius: 0;
    -webkit-box-shadow: 3px 3px #daa0ed;
    box-shadow: 3px 3px #daa0ed;
}

.text {
    color: #500075
}

.logo_login {
    width: 150px;
    margin: auto;
}

@media (max-width: 768px) {
    .logo {
        width: 100px;
        margin: auto;
    }
}