.register_container {
    margin-top: 10em;
    position: relative;
}
.logo {

    width: 100px !important;
    height: 100px !important;
    margin: auto;
    background-color: #500075 !important;

}
.input_container {
    margin: auto;
}
.btn_success {
    color: #ffffff !important;
    background-color: #500075 !important;
    border: 2px solid #500075;
    border-radius: 0;
  
}

.textTitle {
    color: #500075
}

.textSubTitle {
    color: #c501e2
}

.logo_login {
    width: 150px;
    margin: auto;
}
.input {
    border-color: #500075;
}
@media (max-width: 768px) {
    .register_container {
        margin-top: 1em;
    }
    .logo {
        width: 100px !important;
        margin: auto;
    }
}